RewriteBase /

RewriteCond %{HTTP_HOST} !^femmy.owlandfoxes.id/
RewriteCond %{REQUEST_URI} !^/
RewriteRule ^(.*)$ $1 [L]

RewriteCond %{HTTP_HOST} ^femmy.owlandfoxes.id
RewriteCond %{REQUEST_URI} !^/
RewriteRule ^(.*)$  [L]	