RewriteBase /

RewriteCond %{HTTP_HOST} !^femmy.co.id/
RewriteCond %{REQUEST_URI} !^/
RewriteRule ^(.*)$ $1 [L]

RewriteCond %{HTTP_HOST} ^femmy.co.id
RewriteCond %{REQUEST_URI} !^/
RewriteRule ^(.*)$  [L]	