@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  align-items: center;
  font-family: 'WorkSans-Regular';
}

input::placeholder {
  color: #9c1b66;
  font-family: 'WorkSans-Regular';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'Regatto';
  src: url('/fonts/Regatto.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('/fonts/WorkSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('/fonts/WorkSans-Medium.woff');
  font-style: normal;
}


@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('/fonts/WorkSans-SemiBold.woff');
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('/fonts/WorkSans-Bold.woff');
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-ExtraBold';
  src: url('/fonts/WorkSans-ExtraBold.woff');
  font-style: normal;
}


@media (min-width: 1024px) {
  .text-banner {
    left: unset;
  }
}

p,ul,li,h1,h2,h3,h4,h5,h6,a,span,b{
  letter-spacing: 1px !important;
}

/* hamburger menu */

#menu-hamburger {
  width: 30px;
  height: 37px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 20;
}

#menu-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  /* background: #601146; */
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.bg_white {
  background-color: white;
}

#menu-hamburger span:nth-child(1) {
  top: 10px;
}

#menu-hamburger span:nth-child(2) {
  width: 100%;
}

#menu-hamburger span:nth-child(4) {
  width: 100%;
}

#menu-hamburger span:nth-child(2),
#menu-hamburger span:nth-child(3) {
  top: 18px;
}

#menu-hamburger span:nth-child(3) {
  display: none;
}

#menu-hamburger span:nth-child(4) {
  top: 26px;
}

#menu-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 30px;
}

#menu-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
}

#menu-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  display: none;
}

textarea::-webkit-input-placeholder {
  color: #9c1b66;
}

.tracking-harga {
  letter-spacing: 2px !important;
}

ol {
  list-style: decimal;
}

.tips ul {
  list-style: disc;
}

.filter ul {
  list-style: none;
}

.produk_lainnya .slick-slide {
  padding: 0 10px;
}

.table-manfaat tbody tr {
  color: #9C1B66;
}
.table-manfaat tbody tr:nth-child(1) td {
  padding-top: 2rem;
}
.table-manfaat tbody tr :nth-child(2){
  border-left: 1px dashed #9C1B66;
  border-right: 1px dashed #9C1B66;
  text-align: center;
}
.table-manfaat tbody tr :nth-child(3){
  text-align: center;
}
.slider-ceritaKami .slick-track{
  display: flex;
}
.slider-ceritaKami .slick-current img{
  opacity: 1 !important;
}
.slider-ceritaKami .vid-play{
  display: none !important;
}
.slider-ceritaKami .slick-current .vid-play{
  display: block !important;
}

.usr:hover .musr{
  display: block;
}

.point:hover .mpoint{
  display: block;
}

.wishlist-card:nth-child(odd){
  background-color: #F3E1E9;
}

.checkout-card:nth-child(even){
  background-color: #F3E1E9;
}

.rangkuman-card:nth-child(even){
  background-color: #F3B7C4;
}

.keranjang-card:nth-child(even){
  background-color: #F3E1E9;
}


.cs-input-1::-webkit-outer-spin-button,
.cs-input-1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cs-input-1[type=number] {
  -moz-appearance: textfield;
}

input.middle:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

*:focus {
  outline: none;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input {
  outline:none;
}


[type='number']:focus{
  box-shadow: none !important;
  border: none;
}